In [5]:
import pandas as pd
df=pd.read_excel(r"/content/Feature Engineering_01.xlsx",sheet_name=1)
#print(df.head())
print("Detecting Outliers below")
max_threshold=df['Weight'].quantile(0.95)
#above 95% that value is outliers
print("max threshold:",max_threshold)
# Any weight greater than 393 is consider as outliers.
print(df[df['Weight']>max_threshold])

Detecting Outliers below
max threshold: 393.9999999999998
    Name  Weight
8  Rohit     600

In [6]:
import pandas as pd
df2=pd.read_csv("/content/actual_house_price_india.csv")
print(df2.head())
print(df2.shape)
min_threshold,max_threshold=df2['price_per_sqft'].quantile([0.1,0.9])
print("Threshold-",min_threshold,max_threshold)
df2nooutlier=df2[(df2['price_per_sqft']>min_threshold)&(df2['price_per_sqft']<max_threshold)]
print(df2nooutlier)
df2nooutlier.to_csv("actual_house_price_india.csv",index=False)
print(df2nooutlier.shape)
#

             location       size  total_sqft  bath   price  bhk  price_per_sqft
0    Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4            4615
1  Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3            6245
2        Marathahalli      3 BHK      1310.0   3.0   63.25    3            4828
3            Sarjapur  3 Bedroom      2250.0   3.0  148.00    3            6577
4         Mysore Road      2 BHK      1175.0   2.0   73.50    2            6255
(5377, 7)
Threshold- 4676.0 6500.0
                   location   size  total_sqft  ...   price  bhk  price_per_sqft
1        Lingadheeranahalli  3 BHK      1521.0  ...   95.00    3            6245
2              Marathahalli  3 BHK      1310.0  ...   63.25    3            4828
4               Mysore Road  2 BHK      1175.0  ...   73.50    2            6255
5                 Bellandur  3 BHK      1767.0  ...  103.00    3            5829
6               Thanisandra   1 RK       510.0  ...   25.25    1            4950
...                     ...    ...         ...  ...     ...  ...             ...
5370             Whitefield  4 BHK      2856.0  ...  154.50    4            5409
5371               Kothanur  3 BHK      1454.0  ...   71.50    3            4917
5372           Yeshwanthpur  3 BHK      1675.0  ...   92.13    3            5500
5373           Rachenahalli  2 BHK      1050.0  ...   52.71    2            5020
5376  Raja Rajeshwari Nagar  2 BHK      1141.0  ...   60.00    2            5258

[4296 rows x 7 columns]
(4296, 7)