In [ ]:
# creating thread.
from threading import *
def display():
    for i in range(10):
        print("child")
        
t=Thread(target=display)
t.start()
t.join()

for i in range(10):
    print("main")

child
child
child
child
child
child
child
child
child
child
main
main
main
main
main
main
main
main
main
main

In [ ]:
from threading import *
class MYthread(Thread):
    def run(self):
        for i in range(10):
            print("child")

t=MYthread()
t.start()
#t.join()
for i in range(10):
    print("main")

childmain
main
main
main
main
main
main
main
main
main

child
child
child
child
child
child
child
child
child

In [ ]:
# without thread
import time
def doubles(numbers):
    for n in numbers:
        time.sleep(2)
        print("Double values:",2*n)

def squares(numbers):
    for n in numbers:
        time.sleep(2)
        print("Square values:",n*n)
begintime=time.time()
numbers=[1,2,3,4,5,6]
doubles(numbers)
squares(numbers)
endtime=time.time()
print("The total time took:",endtime-begintime)

Double values: 2
Double values: 4
Double values: 6
Double values: 8
Double values: 10
Double values: 12
Square values: 1
Square values: 4
Square values: 9
Square values: 16
Square values: 25
Square values: 36
The total time took: 24.026891469955444

In [ ]:
import multiprocessing
import time

def sleepy_man():
    print('Starting to sleep')
    time.sleep(1)
    print('Done sleeping')

tic = time.time()
p1 =  multiprocessing.Process(target= sleepy_man)
p2 =  multiprocessing.Process(target= sleepy_man)
p1.start()
p2.start()
p1.join()
p2.join()
toc = time.time()

print('Done in {:.4f} seconds'.format(toc-tic))

Starting to sleep
Starting to sleep
Done sleeping
Done sleeping
Done in 1.0414 seconds

In [ ]:
friends={}
for i in range(5):
  d_kv=input().split(",")
  friends.update({d_kv[0]: d_kv[1]})
  print(friends)

mohit,19/12/1997
{'mohit': '19/12/1997'}
hvhg,09
{'mohit': '19/12/1997', 'hvhg': '09'}
khj,77
{'mohit': '19/12/1997', 'hvhg': '09', 'khj': '77'}
mmnbj,87
{'mohit': '19/12/1997', 'hvhg': '09', 'khj': '77', 'mmnbj': '87'}
gfdf,56
{'mohit': '19/12/1997', 'hvhg': '09', 'khj': '77', 'mmnbj': '87', 'gfdf': '56'}

In [ ]:
import pandas as pd
df=pd.read_excel(r"/content/Feature Engineering_01.xlsx",sheet_name=1)
#print(df.head())
print("Detecting Outliers below")
max_threshold=df['Weight'].quantile(0.95)
#above 95% that value is outliers
print("max threshold:",max_threshold)
# Any weight greater than 393 is consider as outliers.
print(df[df['Weight']>max_threshold])

Detecting Outliers below
max threshold: 393.9999999999998
    Name  Weight
8  Rohit     600

In [ ]:
import pandas as pd
df2=pd.read_csv("/content/actual_house_price_india.csv")
print(df2.head())
print(df2.shape)
min_threshold,max_threshold=df2['price_per_sqft'].quantile([0.1,0.9])
print("Threshold-",min_threshold,max_threshold)
df2nooutlier=df2[(df2['price_per_sqft']>min_threshold)&(df2['price_per_sqft']<max_threshold)]
print(df2nooutlier)
df2nooutlier.to_csv("actual_house_price_india.csv",index=False)
print(df2nooutlier.shape)
#

             location       size  total_sqft  bath  price  bhk  price_per_sqft
0    Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.0    4            4615
1         Uttarahalli      3 BHK      1440.0   2.0   62.0    3            4305
2  Lingadheeranahalli      3 BHK      1521.0   3.0   95.0    3            6245
3            Kothanur      2 BHK      1200.0   2.0   51.0    2            4250
4    Old Airport Road      4 BHK      2732.0   4.0  204.0    4            7467
(8409, 7)
Threshold- 4252.0 7399.2
                   location       size  total_sqft  ...   price  bhk  price_per_sqft
0          Chikka Tirupathi  4 Bedroom      2600.0  ...  120.00    4            4615
1               Uttarahalli      3 BHK      1440.0  ...   62.00    3            4305
2        Lingadheeranahalli      3 BHK      1521.0  ...   95.00    3            6245
5              Marathahalli      3 BHK      1310.0  ...   63.25    3            4828
6                  Sarjapur  3 Bedroom      2250.0  ...  148.00    3            6577
...                     ...        ...         ...  ...     ...  ...             ...
8403           Yeshwanthpur      3 BHK      1675.0  ...   92.13    3            5500
8404           Rachenahalli      2 BHK      1050.0  ...   52.71    2            5020
8406      Green Glen Layout      3 BHK      1715.0  ...  112.00    3            6530
8407             Whitefield  5 Bedroom      3453.0  ...  231.00    5            6689
8408  Raja Rajeshwari Nagar      2 BHK      1141.0  ...   60.00    2            5258

[6724 rows x 7 columns]
(6724, 7)

In [3]:
ord('h')

104

In [22]:
a=input("enter your car type")
if a=='4X2':
    print("fee is 10")
if a=='4X4':
    print("fee is 20")

enter your car type4X4
fee is 20